<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{!-- {{>navbar}} --}}
{{!-- <---main header --> --}}
<div class = "container-fluid main_header"> 
    <div class = "row">
        <div class= "colm-md-6 col-12 main_header_right align-items-center">
            <figure>
                <img class = "errorimg"src="images/error.png" alt="madhu" class = "img-fluid" title = "madhup">
            </figure>
        </div>

    </div>
</div>>

    {{>footer}}
</body>

</html>